*.csv
*.O
*.xlsx
*.zip
*.png
*.rds
*.gz
*.tar.gz
*.pyc
/.dvc/
2021-04-01_global_dl_optimization_data.tar.gz
__pycache__/notebook.cpython-38.pyc
models in production/old/soil_alpha-drift_DL/002_2021-04-30/2021-04-01_global_dl_optimization_data.tar.gz
/DSML87/
/DSML94/
/MSSC_DVC/
/QC_Model_Predictions/
/dl/
/outputFiles/